{{> header }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h2>Cielo Falsos</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, cum possimus deserunt at et excepturi
            velit vel molestiae, ducimus esse, ullam illo aliquam optio? Rem perferendis consequuntur magni iure saepe?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/cielo.jpg" class="img-thumbnail">
    </div>
</div>
sss
{{> footer}}